@font-face {
  font-family: "Breakwater";
  src: url(../fonts/Breakwater.ttf);
}
@font-face {
  font-family: Monoglyceride;
  src: url(../fonts/Monoglyceride/Monoglyceride.ttf);
}
@font-face {
  font-family: fanwood;
  src: url(../fonts/Fanwood/FanwoodText-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #212121;
}

body {
  color: whitesmoke;
}

.header {
  grid-area: "header";
}

.nav {
  grid-area: "nav";
}

.main {
  grid-area: "main";
}

.footer {
  grid-area: "footer";
}

.container {
  display: grid;
  grid-template-columns: 18% auto 20%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav main main__calendar" "nav main main__calendar" "nav main main__calendar";
  margin: 0 30px 0 30px;
}

.header {
  background-color: grey;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: normal;
  width: 95%;
  height: 45px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: grey 10px 10px 40px 0;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header header h1 {
  font-family: Breakwater;
  font-size: 32px;
  font-weight: lighter;
  color: whitesmoke;
  letter-spacing: 3px;
  padding: 4px 0 0 20px;
}
.header header ul {
  display: flex;
  text-align: right;
  list-style: none;
  margin-right: 20px;
  letter-spacing: 3px;
}
.header header ul li {
  padding-right: 40px;
  font-family: Monoglyceride;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}

.nav .nav__profile {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 5px 5px 40px 10px lightblue;
  background-color: #145866;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
.nav .nav__profile .nav__profile-photo {
  display: flex;
  position: relative;
  left: 20px;
  top: 15px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: white;
}
.nav .nav__profile .nav__profile-name {
  margin: 40px 0 0 10px;
}
.nav .nav__profile .nav__profile-name h2 {
  font-size: 18px;
  letter-spacing: 1px;
}
.nav .nav__profile .nav__profile-email {
  margin: 10px 0 0 10px;
  letter-spacing: 1px;
}
.nav .nav__profile .nav__profile-email h3 {
  font-size: 16px;
}
.nav .nav__sections {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: azure;
  box-shadow: azure 10px 5px 40px 0px;
  color: black;
}
.nav .nav__sections ul {
  list-style: none;
  margin-top: 10px;
}
.nav .nav__sections ul li {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 2px solid black;
  width: 80%;
  letter-spacing: 1px;
  font-weight: bolder;
  align-items: center;
  font-family: Monoglyceride;
  font-size: 20px;
}
.nav .nav__sections ul li img {
  padding-right: 15px;
}

.analisis1:hover {
  background: radial-gradient(circle, rgb(92, 116, 238) 0%, darkcyan 88%);
}

.agregar:hover {
  background: radial-gradient(circle, rgb(92, 116, 238) 0%, darkcyan 88%);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.main #analisis {
  font-family: fanwood;
  font-size: 32px;
}
.main .main__message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
  width: 40%;
  height: 125px;
}
.main .main__message p {
  flex-grow: stretch;
  margin-left: 10px;
  font-family: fanwood;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.main .main__statistics {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  text-align: left;
}
.main .main__statistics .main__statistics-circlegraphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 20px;
  height: 350px;
  margin-bottom: 20px;
  background-color: #121212;
}
.main .main__statistics .main__statistics-circlegraphics .ByName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 300px;
}
.main .main__statistics .main__statistics-circlegraphics .ByName .main__statistics-circlegraphics-text {
  margin-left: 50px;
}
.main .main__statistics .main__statistics-circlegraphics .ByClass {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 30px 20px;
}
.main .main__statistics .main__statistics-circlegraphics .ByClass .main__statistics-circlegraphics-text {
  margin-left: 50px;
}
.main .main__statistics .main__statistics-bargraphics {
  border: 2px solid black;
  border-radius: 20px;
  height: 300px;
  background-color: #121212;
  text-align: center;
}
.main .main__statistics .main__statistics-bargraphics .bargraphics-analytics .bargraphics-analytics-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
  width: 80%;
}
.main .main__statistics .main__statistics-bargraphics .bargraphics-analytics .bargraphics-analytics-item .bargraphics-analytics-text {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.main .main__statistics .main__statistics-bargraphics .bargraphics-analytics .bargraphics-analytics-item .bargraphics-analytics-text span {
  margin-right: 20px;
}
.main .main__statistics .main__statistics-bargraphics .bargraphics-analytics .bargraphics-analytics-item .bargraphics-analytics-bar div {
  display: flex;
  width: 80%;
  height: 8px;
  background-color: cyan;
}

.main__calendar {
  width: auto;
  border: 2px solid black;
  border-radius: 15px;
}
.main__calendar h2 {
  display: flex;
  margin: 20px 0 10px 90px;
}
.main__calendar .main__calendar-title {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-evenly;
}
.main__calendar .main__calendar-sections {
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;
  width: 90%;
}
.main__calendar .main__calendar-sections .item {
  margin-bottom: 5px;
}
.main__calendar .main__calendar-sections .item input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}
.main__calendar #monto {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 10px;
}
.main__calendar .submitbutton {
  display: flex;
  margin: 10px;
}
.main__calendar .submitbutton button {
  padding: 5px 30px;
  background-color: darkcyan;
  color: whitesmoke;
  font-family: Arial;
  font-weight: bold;
  box-shadow: whitesmoke 40 0 10 0;
  border: 2px solid whitesmoke;
  border-radius: 7px;
}

/*# sourceMappingURL=style.css.map */
