*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: $background-color;
}
body{
    color: $font-color;
}
.header{
    grid-area: "header";
}
.nav{
    grid-area: "nav";
}
.main{
    grid-area: "main";
}
.footer{
    grid-area: "footer";
}
.container{
    display: grid;
    grid-template-columns: 18% auto 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'nav main main__calendar'
    'nav main main__calendar'
    'nav main main__calendar';
    margin: 0 30px 0 30px;
}