//Fuentes

@font-face {
    font-family: "Breakwater";
    src: url(../fonts/Breakwater.ttf);
}
@font-face {
    font-family: Monoglyceride;
    src: url(../fonts/Monoglyceride/Monoglyceride.ttf);
}
@font-face {
    font-family: fanwood;
    src: url(../fonts/Fanwood/FanwoodText-Regular.ttf);
}
//Colores
$font-color: whitesmoke;
$background-color: #212121;