//Fuentes

@font-face {
    font-family: "Breakwater";
    src: url(../fonts/Breakwater.ttf);
}
@font-face {
    font-family: Monoglyceride;
    src: url(../fonts/Monoglyceride/Monoglyceride.ttf);
}
//Colores
$font-color: white;